.h1 {
    color:deepskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}

.surprise {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-small;
}