.orange-box {
    background-color: orange;
    width: 100px;
    height: 100px;
    opacity: 60%;
    position: relative;
    margin: 0;
}

.blue-box {
    background-color: blue;
    width: 100px;
    height: 100px;
    opacity: 60%;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
}

.blue-box:active {
    background:blue;
}

.blue-box:active::before {
    content: "I am clicked";
}

.blue-box:hover {
    width: 200px;
    height: 200px;
}

body {
    margin: 0px;
}
